/* popup.css */

body {
  font-family: Arial, sans-serif;
  width: 300px; /* Set the width of the popup */
  height: 70px; /* Set the height of the popup */
}



.header1{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.header2{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.button-container {
  display: flex;
}

#startButton,
#stopButton {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#startSyncButton,
#stopSyncButton {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#startButton:hover,
#stopButton:hover {
  background-color: #45a049;
}

#startSyncButton:hover,
#stopSyncButton:hover {
  background-color: #45a049;
}